
<div class="container text-center" id="email" style="width: ">
	<div class="card">
	  <div class="card-header">
	    Object : <%=@email.object%>
	  </div>
	  <div class="card-body">
	  	Contenue :
	    <blockquote class="blockquote mb-0">
	      <%=@email.body%>
	    </blockquote>
	    <a href=''data-remote="true" class="btn btn-success">Marquer comme non-lu</a>
	    <a href=''data-remote="true" class="btn btn-danger">Supprimer</a>
	  </div>
	</div>
</div>