
<div class="container text-center" id="email">
	<div class="card">
	  <div class="card-header">
	    Object : <%=@email.object%>
	  </div>
	  <div class="card-body">
	  	Contenue :
	    <blockquote class="blockquote mb-0">
	      <%=@email.body%>
	    </blockquote>
	    <a href=''data-remote="true" class="btn btn-success">Marquer comme non-lu</a>
	    <%=link_to 'Supprimer', email_path(), method: :delete, class:'btn btn-danger',remote: true%>
	  </div>
	</div>
</div>